.homepage-message {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
}

.link {
    color: black;
    text-decoration: none;
}